.kratos-cover .desc span {
  padding: 0 15px;
}

.kratos-cover .desc .z-yiyan-verse {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 24px;
}

.kratos-cover .desc .z-yiyan-author {
  font-size: 19px;
  margin-bottom: 0;
}

@media (max-width: 530px) {
  .kratos-cover .desc .z-yiyan-verse {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .kratos-cover .desc .z-yiyan-author {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .waifu {
    display: block !important;
    transform: scale(0.52);
  }
}

#kratos-header-section .sub-menu {
  min-width: 96px;
}
